html[data-theme="light"] {
    --pst-color-primary: rgb(54, 52, 163);
    --pst-color-secondary: rgb(173, 68, 171);
    --pst-color-inline-code: rgb(255, 58, 95);
    --pst-color-warning: rgb(255, 212, 38);
    --pst-color-info: rgb(54, 52, 163);
    --pst-color-danger: rgb(255, 58, 95);
    --pst-color-target: rgb(255, 212, 38);
}

html[data-theme="dark"] {
    --pst-color-primary: rgb(255, 255, 255);
    --pst-color-secondary: rgb(173, 68, 171);
    --pst-color-inline-code: rgb(255, 58, 95);
    --pst-color-warning: rgb(255, 212, 38);
    --pst-color-info: rgb(54, 52, 163);
    --pst-color-danger: rgb(255, 58, 95);
    --pst-color-target: rgb(54, 52, 163);
}
